body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
header {
  background-color: #a85fe4;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}
.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
nav {
  display: flex;
  gap: 15px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
nav a::after {
  content: '';
  display: block;
  height: 2px;
  background: white;
  width: 0;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}
nav a:hover::after {
  width: 100%;
}
section {
  padding: 100px 20px 60px;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
section.active {
  opacity: 1;
  transform: translateY(0);
}
#home {
  background-color: #dcb2f5;
}
#cardapio {
  background-color: #dcb2f5;
}
#sobre {
  background-color:#dcb2f5;
}
.grid-cardapio {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.coluna {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 200px;
}
.card {
  background-color: #5e2494;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  width: 350px;
  height: 250px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);
}
.card img {
  margin-top: 9%;
  width: 50%;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
}
.card:hover {
  transform: translateY(-10px);
}
.card p {
  margin: 3px 0;
  font-size: 22px; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
